.container-fluid .profile-cont {
    width: 100%;
    height: 100vh;
}



.top-three {
    padding: 0px;
    margin: 0px;
}

.top-profile {
    background-color: #EDECEC;
}

.first-place {
    background-color: rgba(216,216,216, .2);
    /* background-color: blue; */
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 50%;
    /* height: 300px; */
    /* align-content: center;
    padding: 3em; */
}



.second {
    background-color: rgba(216,216,216, .4);

    /* width: 100%; */
    height: 50%;
    /* height: 200px; */

}

.third {
    background-color: rgba(216,216,216, .8);

    /* width: 100%; */
    height: 50%;
    /* height:200px; */
}

.first-place-image {
    

}

.profile-icon {
    width: 150px;
}

/* .image {
    flex-wrap: nowrap;
    align-content: space-around;
}

.row.second-third {
    display: flex;
    flex-wrap: wrap;
} */

.number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #F96A00;
    padding: .8em 1.8em;
    border-bottom-right-radius: 3.6em;
}

.digit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #FFCB00;
    /* border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em; */
    padding: .8em 1.8em;

    /* padding: 1.2em 2.4em; */
    /* border-radius: 100%; */
    /* margin: 1em; */


    /* padding: .8em 1.8em; */

}

.numbertwo {
    background-color: #FFCB00;
    padding: .8em;
}


.results-info {
    padding: 4em;
    height: 100%;
}


h4.results {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #ffffff;
    letter-spacing: .1em;
    margin-top: 5px;
    margin-right: 1em;
    padding-top: .2em;

    padding-left: 4em;
}

h4.resultsnumb {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #ffffff;
    letter-spacing: .1em;
    margin-top: 5px;
    margin-right: 5px;
    padding-top: .2em;
    /* font-size: 1.6em; */
    /* margin: 5px; */
    /* padding: .6em 1em .6em 1.2em; */
}

.icon {
    width: 150px;
}


@media screen and (max-width: 768px) {

    .first-place {
        width: 100%;
    }

    .second-third {
        display: flex;
        flex-wrap: wrap;
    }

    .first-place.second {
        width: 50%;
    }

    .first-place.third {
        width: 50%;
    }
}