row .form-container {
    width: 100%;
}

.sliders {
    background-color: #FFCB00;
}


p.input-text {
    font-weight: 400;

    color: #ffffff;
    font-size: 1.6em;
    line-height: 2.4em;
}

.form-row-y {
    background-color: #FFF5CF;
}


.sliders-title-y {
    background-color: #FFCB00;
}

.sliders-title-b {
    background-color: #4B1C1B;
}

.sliders-form-y {
    background-color: #FFF5CF;
    width: 100%;
}

.sliders-form-b {
    background-color: #FCF8F5;
    width: 100%;
}

h1.form-title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 1.2em;

}


.slider-reference{
    /* display: flex;
    flex-wrap: wrap; */
    padding: 6em 0em 0em 6em;
    background-color: #4B1C1B;
    max-width: 100%;
    margin: auto;
}

.slider-ref-text {
    margin-bottom: 3.6em;
}


button {
    border-radius: 33px;
    border: 0px;
    margin: 0 3em;
}

button.submit {
    background-color: #F96A00;
}

button.reset {
    background-color: #4B1C1B;
}

h2.button-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2.25px;
    font-size: 2.4em;
    color: #ffffff;
    padding: .6em .8em .3em .8em;
}

.headings {
    display: flex;
    align-items: center;
}

h1.match-headings {
    color: #FFCB00;
    text-transform: uppercase;
    text-align:center;
    padding: 2em;
}
